* {
    margin: 0;
    padding: 0;
}
#rachel-logo {
    width: 200px;
}
.nav-header {
    display: flex;
    
    border: solid;
    position: relative;
    justify-content: center;
    align-items: center;
}
#nav-menu {
    position: absolute;
    left: 0;
    
    border: solid;
    
}
#nav-menu ul {
    border: solid;
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    list-style: none;
    
}
#nav-menu a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}
#nav-menu a:hover {
    text-decoration: underline;
}
#logo-container {

    margin: 0 auto;
    border: solid;
    padding-top: 5px;
}