@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@font-face {
    font-family: 'Instrument-Serif';
    src: url(./assets/fonts/Instrument_Serif/InstrumentSerif-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow-Condensed';
    src: url(./assets/fonts/Barlow_Condensed/BarlowCondensed-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e5fdff;
}
li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#rachel-logo {
    position: relative;
    z-index: 2;
    width: 330px;
}
.nav-header {
    display: flex;
    margin: 0 5%;
    position: relative;
    justify-content: center;
    align-items: center;
}
#nav-menu {
    position: absolute;
    left: 0;
    padding: 10px;
}
#nav-menu ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 1%;
    list-style: none;
}
#nav-menu a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
#nav-menu a:hover {
    text-decoration: underline;
}
#logo-container {
    margin: 0 auto;
    padding-top: 5px;
}
.projects-container {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: auto;
    row-gap: 100px;
    
    justify-items: center;
    text-align: center;
}
.project {
    
    position: relative;
    
}

.cd-img {
    z-index: 1;
    width: 400px;
    position: relative;
    transition: transform 1s ease-in-out;
}
.cd-img:hover {
    
    animation: spin 2s linear infinite;
    
}
.project-link-container {
    padding-top: 40px;
}
.project-links {
    
    color: black;
    font-family: 'Instrument-Serif', Times, serif;
    font-size: 2rem;
    text-decoration: none;
    
    position: relative;
    z-index: 5;
}
.project-links:hover {
    text-decoration: underline;
}
#nav-menu-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5%;
    
}
#nav-menu-footer > ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}
#nav-menu-footer a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
}
#nav-menu-footer a:hover {
    text-decoration: underline;
}
.articles {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    padding: 0 5%
}
.project-page-paragraph-container,
#project-page-paragraph,
#project-page-title-container,
#project-page-paragraph-brief,
.bts-container {
    margin-bottom: 15px;
    
    
}


#project-page-paragraph,
#project-page-paragraph-brief,
#project-page-paragraph-credits{
    font-size: 1.5rem;
    font-family: 'Instrument-Serif', Times, serif;
    font-weight: bold;
}
#project-page-title {
    font-family: 'Barlow-Condensed', Oswald, sans-serif;
    margin-bottom: 40px;
    font-size: 3rem;
}
#project-page-paragraph-brief {
    width: 95%;
    align-items: center;
    margin: 0 auto 10px;
    font-size: 1.5rem;
    font-weight: normal;
}
#project-page-paragraph-credits {
    font-weight: normal;
    font-size: 1.40rem;
}
#project-page-paragraph-credits a:visited {
    color: black;

}
.video-container {
    margin: 30px auto;
}